@import "tailwindcss";

/* Aquí se define los tokens reutilizables */
@theme {
  --font-poppins: 'Poppins', sans-serif;
  --color-verde:    #68A32F;
  --color-amarillo: #FFD402;
  --color-rojo:     #E32047;
  --color-azul:     #293379;
  --color-negro:    #000000;
  --color-gris:     #6B6B6B;
  --color-blanco:   #FFFFFF;
}

/* opcional: estilos globales con variables */
body {
  overflow-x: hidden;
  font-family: var(--font-poppins), serif;
  background:   var(--color-azul);
  color:        var(--color-blanco);
}
